﻿/* 1. GLOBAL / OLDAL
/* Az egész oldal alap stílusa */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

/* ================== 2. NAVBAR / FEJLÉC
/* Felső fekete navigációs sáv */

header {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    width: 100%;
    height: 90px;
    position: relative;
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

/* Bal oldali logó + név */

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    height: 120px;
    width: auto;
    padding-top: 40px;
}

/* Navigációs gombok */


nav button {
    background: none;
    border: none;
    color: white;
    margin: 0 15px;
    font-size: 16px;
    cursor: pointer;
}

nav button:hover {
    color: #8a1538;
}

/* Nyelvváltó gomb */

.lang-btn {
    background-color: #8a1538;
    border: none;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
}
/* ================== 3. HERO SZEKCIÓ 
/* Fekete-fehér átmenetes felső rész */

.hero {
    width: 100%;
    margin: 0;
    background: url('./Photos/earth.jpg') center/cover no-repeat;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

/* Fehér bemutatkozó kártya */

.card {
    background-color: white;
    width: 800px;
    padding: 60px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    position: relative;
    top: 190px;
    box-shadow: 0px 18px 40px rgba(0,0,0,0.25);
    z-index: 1;
}

.card:hover {
    transform: translateY(-5px);
}

/* Szöveg rész */

.card-text h1 {
    color: #8a1538;
    margin: 0;
}

.card-text p {
    font-size: 20px;
    margin-top: 10px;
}
/* Profilkép */

.profile-pic img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

/* Rólam gomb */

.about-btn {
    margin-top: 25px;
    background: linear-gradient(135deg, #1e73ff, #0044cc);
    color: white;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.about-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

.about-btn.clicked {
    transform: scale(0.95);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.arrow {
    transition: transform 0.3s ease;
}
.about-btn:hover .arrow {
    transform: translateX(5px);
}


/* ================== 4. TARTALMI SZEKCIÓK
/* Tanulmányok, Projektek, Összegzés, Rólam */

.content {
    padding: 100px 80px;
}
.content h2 {
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #111;
    position: relative;
}
.content h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #8a1538;
    margin-top: 20px;
}


/* ================== 5. TANULMÁNYOK GRID
/* A színes kártyák elrendezése */

.study-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 50px;
}

/* ================== 6. SZÍNES TANULMÁNY KÁRTYÁK
/* 9-10, 11, 12, 13 évfolyam kártyák */

.study-card {
    padding: 40px;
    border-radius: 25px;
    position: relative;
    transition: all 0.4s ease;
    overflow: hidden;
    color: #222;
    
}

.study-card p {
    flex-grow: 1;
    margin: 25px 0;
    line-height: 1.6;
    color: #555;
}
.study-card .btn {
    align-self: flex-start;
    padding: 10px 22px;
    background: #8a1538;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.3s ease;
}
.study-card h3 {
    margin: 0 0 20px 0;
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.study-card h3::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background: #8a1538;
    margin-top: 15px;
}

/* Színátmenetek */

.card-1 {
    background: linear-gradient(135deg, #d4af37, #ffffff);
}

.card-2 {
    background: linear-gradient(135deg, #c0c0c0, #ffffff);
}

.card-3 {
    background: linear-gradient(135deg, #d8a7b1, #ffffff);
}

.card-4 {
    background: linear-gradient(135deg, #c7b299, #ffffff);
}

/* Hover effekt */

.study-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 50px rgba(0,0,0,0.15);
}

/*---tanulokártya tartalom---*/

.card-title {
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.preview-text {
    line-height: 1.6;
    color: #333;
    margin: 25px 0;
}

.card-expanded {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.4s;
}

.study-card.active {
    grid-column: span 2;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.study-card.active .preview-text {
    display: none;
}

.study-card.active .card-expanded {
    max-height: 4000px;
    opacity: 1;
    margin-top: 30px;
}

.card-expanded h4 {
    font-size: 25px;
    color: #8a1538;
    border-left: 4px solid #8a1538;
    padding-left: 10px;
    margin-top: 25px;
}

.card-expanded h5 {
    font-size: 20px;
    margin-top: 15px;
}
.card-expanded b {
    font-size: 20px;
}

.card-expanded p {
    line-height: 1.6;
    margin: 10px 0;
}

.villamos-row,
.gepeszet-row,
.programozas-row,
.digit-row,
.analog-row,
.szamitogep-row,
.mikrokontroller-row,
.adatbazis-row,
.cisco-row,
.programfejlesztes-row,
.weblapszerkesztes-row,
.rendszeruzemeltetes-row,
.topic-grid,
.exam-parts {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
}

.gepeszet-row {
    margin-top: 14px;
}

.villamos-box,
.gepeszet-box,
.analog-box,
.digit-box,
.szamitogep-box,
.mikrokontroller-box,
.adatbazis-box,
.cisco-box,
.programfejlesztes-box,
.weblapszerkesztes-box,
.rendszeruzemeltetes-box,
.programozas-box {
    border: none;
    background: none;
}

.villamos-image-box,
.gepeszet-image-box,
.analog-image-box,
.digit-image-box,
.szamitogep-image-box,
.mikrokontroller-image-box,
.adatbazis-image-box,
.cisco-image-box,
.programfejlesztes-image-box,
.weblapszerkesztes-image-box,
.rendszeruzemeltetes-image-box,
.programozas-omage-box {
    min-height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.villamos-image-box img,
.gepeszet-image-box img,
.analog-image-box img,
.digit-image-box img,
.szamitogep-image-box img,
.mikrokontroller-image-box img,
.adatbazis-image-box img,
.cisco-image-box img,
.programfejlesztes-image-box img,
.weblapszerkesztes-image-box img,
.rendszeruzemeltetes-image-box img,
.programozas-image-box img {
    width: 100%;
    max-height: 230px;
    object-fit: contain;
    display: block;
}

.topic-box {
    border: 1px solid black;
    border-radius: 18px;
    padding: 16px;
}

.exam-parts,
.elektro-parts,
.plc-parts,
.halozat-parts,
.ipari-parts,
.iranyitastechnika-parts,
.automatika-parts {
    margin-top: 20px;
    margin-bottom: 56px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
    gap: 20px;
}

.exam-box {
    padding: 8px;
}

/* ================== 8. GOMBOK  */


.expand-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: black;
    color: white;
    border: none;
    padding: 8px 18px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.expand-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.back-btn {
    margin-top: 60px;
    background: black;
    color: white;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.back-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

.back-btn:active {
    transform: scale(0.95);
}

/* ================== 9. DROPDOWN MENÜ  */


.dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.dropbtn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 200px;
    top: 100%;
    left: 0;
    border-radius: 12px;
    padding: 10px 0;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

/* Hoverre lenyílik */
.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-content button:hover {
    color: #8a1538;
    background: transparent;
}

/* ================== 10. DROPDOWN MENÜ  */

.about-card {
    margin: 60px 0 70px 0;
    background: #efefef;
    border-radius: 25px;
    padding: 50px 60px;
    max-width: 750px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}

.about-inner {
    position: relative;
    padding-left: 40px;
}

.about-inner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 3px;
    height: 80%;
    background: linear-gradient(to bottom, #7a0015);
    border-radius: 3px;
}

.about-card p {
    font-size: 18px;
    line-height: 1.8;
    color: #222;
}
.about-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.08);
}


@media (max-width: 768px) {


    nav {
        display: none;
        flex-direction: column;
        background-color: black;
        position: absolute;
        top: 90px;
        right: 0;
        width: 200px;
        padding: 20px;
        z-index: 999;
    }

    nav button {
        margin: 10px 0;
        text-align: left;
    }

    nav.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .card {
        width: 70%;
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }
    .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
    }
    .profile-pic img {
        width: 140px;
        height: 140px;
        margin-top: 20px;
        order: 2;
    }
    .about-btn {
        order: 3;
        margin-top: 20px;
    }
    .about-btn {
        order: 3;
        margin-top: 20px;
    }

    .study-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .study-card {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .study-card h3 {
        font-size: 22px;
        letter-spacing: 1px;
    }
    .study-card p {
        margin: 16px 0;
        font-size: 15px;
        line-height: 1.55;
    }
    .study-card .btn {
        width: 100%;
        text-align: center;
    }
    .study-card.active {
        grid-column: span 1;
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 20px;
    }
    .study-card.active .card-expanded {
        margin-top: 20px;
    }
    #ev11.active .card-expanded {
        max-height: 12000px;
    }
    .card-expanded h4 {
        font-size: 20px;
    }
    .card-expanded h5,
    .card-expanded b {
        font-size: 17px;
    }
    .villamos-row,
    .gepeszet-row,
    .programozas-row,
    .digit-row,
    .analog-row,
    .szamitogep-row,
    .mikrokontroller-row,
    .adatbazis-row,
    .topic-grid,
    .exam-parts {
        grid-template-columns: 1fr;
    }
    .content {
        padding: 60px 15px;
    }

    .dropdown-content {
        display: none;
    }

    .dropdown-content.mobile-open {
        display: block;
    }
    .about-card {
        width: 85%;
        padding: 25px; /* kisebb margó mobilon */
    }

    .about-content {
        max-width: 100%;
        padding-right: 120px;
    }

    .about-image {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .about-image img {
        width: 100px;
        height: 100px;
    }
    .about-card {
        width: 67%;
        margin: 40px auto 60px auto;
        padding: 35px 25px;
    }

    .about-inner {
        padding-left: 25px;
    }

}
